* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-primary-color: #338AF3;
  --card-title-border-color: #338AF3;
  --card-bg-color: #202024;
}

body * {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #121214;
  background-image: url(./Assets/bg-blue.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card1 {
  padding: 32px 23px;
  text-align: center;
  margin-bottom: 20px;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-primary-color);
  border-radius: 6px;
}

.card1 h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  color: #f7dd43;
}

.card1 h2 span {
  color: #E1E1E6;
  font-size: 14px;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.card1 ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 300px;
}

.card1 ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card1 ul li+li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card1 ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #E1E1E6;
}

.card1 ul li strong:hover,
.card1 ul li img:hover {
  transform: scale(1.1);
}

.card1 ul li strong,
.card1 ul li img {
  transition: transform 0.3s;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card1 {
  opacity: 0;
  animation: appear 1.5s forwards;
}

@media (min-width: 900px) {
  #cards {
    flex-direction: row;
    max-width: 800px;
    flex-wrap: wrap;
  }
}